{% extends 'contacts/base.html' %}
{% block body %}
<form class="form-inline"  action="create" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" style="width:20%;" required="required"/>
        <label for="phone">Phone</label>
        <input type="text" name="phone" class="form-control" style="width:20%;" required="required"/>
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" style="width:20%;" required="required"/>
        <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> ADD</button>
        
    </div>
</form>
<br />
<form class="form-inline"  action="search" method="GET">
    {% csrf_token %}
    <label for="name">Search Name</label>
        <input type="text" name="name" class="form-control" style="width:20%;" required="required"/>
    <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon"></span> Search</button>
</form>
<br />
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.email }}</td>
            <td><center><a class="btn btn-sm btn-warning" href="edit/{{ member.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="delete/{{ member.id }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}